-- MySQL dump 10.16  Distrib 10.1.21-MariaDB, for Win32 (AMD64)
--
-- Host: localhost    Database: localhost
-- ------------------------------------------------------
-- Server version	10.1.21-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `kwitansi`
--

DROP TABLE IF EXISTS `kwitansi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kwitansi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_kwitansi` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal` date NOT NULL,
  `nama_pelanggan` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_pelanggan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `status_bayar` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `discount` decimal(12,0) NOT NULL,
  `total` decimal(12,0) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `SN` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_kwitansi` (`no_kwitansi`),
  KEY `idx_kwitansi_no` (`no_kwitansi`),
  KEY `idx_kwitansi_nama` (`nama_pelanggan`),
  KEY `idx_kwitansi_status` (`status_bayar`)
) ENGINE=InnoDB AUTO_INCREMENT=333 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kwitansi`
--

LOCK TABLES `kwitansi` WRITE;
/*!40000 ALTER TABLE `kwitansi` DISABLE KEYS */;
/*!40000 ALTER TABLE `kwitansi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kwitansi_item`
--

DROP TABLE IF EXISTS `kwitansi_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kwitansi_item` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kwitansi_id` int(11) NOT NULL,
  `deskripsi` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `qty` int(11) NOT NULL,
  `harga` decimal(12,2) NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kwitansi_id` (`kwitansi_id`),
  CONSTRAINT `kwitansi_item_ibfk_1` FOREIGN KEY (`kwitansi_id`) REFERENCES `kwitansi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1017 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kwitansi_item`
--

LOCK TABLES `kwitansi_item` WRITE;
/*!40000 ALTER TABLE `kwitansi_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `kwitansi_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_tagihan_bpjs`
--

DROP TABLE IF EXISTS `tb_tagihan_bpjs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_tagihan_bpjs` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `tgl_bayar` datetime NOT NULL,
  `no_polis` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Jml_peserta` int(10) unsigned NOT NULL,
  `periode` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rp_tagihan` decimal(12,0) NOT NULL,
  `admin_bank` decimal(12,0) NOT NULL,
  `total_bayar` decimal(12,0) NOT NULL,
  `keterangan` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_transaksi` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cetak_keterangan` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_tagihan_bpjs`
--

LOCK TABLES `tb_tagihan_bpjs` WRITE;
/*!40000 ALTER TABLE `tb_tagihan_bpjs` DISABLE KEYS */;
INSERT INTO `tb_tagihan_bpjs` VALUES (1,'2026-09-07 20:04:00','8888801125986951','CHULWATI',1,'1 Bulan',202917,2500,205417,'','BPJS/KCM/2026/09/00001',0),(3,'2026-09-17 07:17:00','0002051563983','SATUGI',1,'202609',70000,2500,72500,'NAMA:SATUGI/TAG:70000/ADMIN:2500/TTAG:72500//JMLBLN:1/PERIODE:202609/PESERTA:1/REFF:996302704','BPJS/KCM/2026/09/00003',0);
/*!40000 ALTER TABLE `tb_tagihan_bpjs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_tagihan_listrik`
--

DROP TABLE IF EXISTS `tb_tagihan_listrik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_tagihan_listrik` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tgl_bayar` datetime DEFAULT NULL,
  `id_transaksi` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_pelanggan` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tarif_daya` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stand_awal` int(11) DEFAULT NULL,
  `stand_akhir` int(11) DEFAULT NULL,
  `reff1` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reff2` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `periode` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rp_tagihan` int(11) DEFAULT NULL,
  `denda` int(11) DEFAULT NULL,
  `lain_lain` int(11) DEFAULT NULL,
  `admin_bank` int(11) DEFAULT NULL,
  `total_bayar` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_tagihan_listrik`
--

LOCK TABLES `tb_tagihan_listrik` WRITE;
/*!40000 ALTER TABLE `tb_tagihan_listrik` DISABLE KEYS */;
INSERT INTO `tb_tagihan_listrik` VALUES (3,'2026-09-08 00:02:00','INV/KCM/2026/09/0001','511810339475','PARIYO - CHULWATI','RIM/900 VA',30403,30502,'','','SEP26',147233,0,0,5000,152233),(4,'2026-09-12 19:18:00','INV/KCM/2026/09/0002','511810040221','MUNADJI','R1/900 VA',28488,28726,'','','SEP26',142351,0,0,5000,147351),(5,'2026-09-15 21:19:00','INV/KCM/2026/09/0003','511811075416','CHOIRIYAH','R1M/900 VA',28951,29121,'','','SEP26',252824,0,0,5000,257824),(6,'2026-09-15 21:22:00','INV/KCM/2026/09/0004','511811336855','KULWATI','R1M/900 VA',55455,55689,'','','SEP26',371866,0,0,5000,376866);
/*!40000 ALTER TABLE `tb_tagihan_listrik` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-17 16:20:07
